*,
*::before,
::after{
    margin: 0;
    padding: 0;
}

.hero{
    /* display: block; */
    margin: auto;
    text-align: center;
    margin-top: 20px;;
}
.hero-img{
    height:350px;
    border-radius: 10px;
}

.heading-inverted{
    color: purple;
}
main{
height:40vh;
}

textarea{
    display: block;
    margin: auto;
    height: 20px;
}
button{
    display: block;
    margin: auto;
    margin-top:20px;
    padding: 10px 15px;
    background-color:purple;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}


footer{
    background-color:purple;
    color:white;
    text-align: center;
    padding: 20px;
}

#output{
    padding:50px;
    margin: 0 50px;
    background-color:rgba(128, 0, 128, 0.342);
    border: 3px solid purple;
}