/* @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap'); */

* {
    box-sizing: border-box;
}

:root {
    --primary: #46157E;
    --black: #333333;
    --width-break:800px
}

body {
    margin: 0;
    /* font-family: 'Kalam', cursive; */
    color: #333333;
      background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}

nav {
    background-color: var(--primary);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    display: block;
    width: 100%;
    min-height: 5vh;
    font-size: large;
    font-family: inherit;
    background-color: #ffffff7a;
    border:none;
    border-radius:20px;
    text-align: center;
    padding-top: 30px;;
}

textarea:hover {
    display: block;
    width: 100%;
    min-height: 5vh;
    font-size: large;
    font-family: inherit;
    background-color: #ffffff;
    border-radius:20px;
    border: none;
    text-align: center;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 8rem 0rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    margin:auto;
    display:block;
    
}


#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    /* border: 1px solid var(--black); */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}